<!--@model IEnumerable<Theam_Login_Register.DBcontext.Users>

@{
    ViewBag.Title = "RetriveAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</br>
<h4>Last of All Users</h4>-->

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<!--<table class="table">
    <tr>-->
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <!--<th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>-->
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <!--<td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @if (item.Role == 1)
            {
                <span> Admin</span>
            }
            else if (item.Role == 2)
            {
                <span>Manager</span>
            }
            else
            {
                <span>Customer</span>
            }-->
            @*@Html.DisplayFor(modelItem => item.Role)*@
        <!--</td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id = item.UserID }) 
           
        </td>
    </tr>
}

</table>-->
