@model SchoolManagement_SIT0330.Models.Model.UserModel
@using SchoolManagement_SIT0330.Helpers.Helpers;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form action="/Register/Register" method="post">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "FirstName", name = "FirstName", Type = "text" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "LastName", name = "LastName", Type = "text" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", name = "Email", Type = "Email" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", name = "Password", type = "password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.ConfirmPasword, new { @class = "form-control", placeholder = "ConfirmPassword", name = "ConfirmPassword", type = "password" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPasword, "", new { @class = "text-danger" })
                    <div class="input-group mb-3 ">
                        @Html.DropDownListFor(model => model.Role, EnumHelper.GetSelectList(typeof(UserRoleType)), "--Select Role--", new { @class = "input-group-text form-control" })

                    </div>

                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" value="Submit">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @Html.ActionLink("I already have a membership", "Login")



            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
